# Ignore distribution files.

*.tar.gz

# "Makefile" is made from "Makefile.PL".

Makefile

#

README
MANIFEST

examples/synopsis-out.txt
examples/newfile.txt
examples/myfile.png
t/test.png
lib/Image/PNG/FileConvert.pod